<h1>events project</h1>

<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>.<%= date.month %>.

    <% @temperatures.length.times do |i| %>
      <% if date == (@today + i) %>
        <%= @temperatures[i] %>
        <%= @forecasts[i] %>
        <%= image_tag "http://openweathermap.org/img/w/#{@icons[i]}.png"  %>
      <% end %>
    <% end %>
  

  <% events.each do |event| %>
    <div>
      <%= event.name %>
    </div>
  <% end %>
<% end %>
